.calendar {
  width: 300px;
  background: white;
  .header {
    background: transparent;
    box-shadow: none;
    .backButton {
      float: left;
    }
    .month {
      text-align: center;
    }
    .year {
      text-align: center;
    }
    .nextButton {
      float: right;
    }
  }
  table.dates {
    width: 100%;
    td, th {
      text-align: center;
      min-width: 28px;
      min-height: 28px;
      color: rgb(180,180,180);
    }
    td.current {
      color: rgb(60,60,60);
    }
    td.selected {
      color: rgb(200,0,0);
    }
  }
}