@import "containers/App";
@import "containers/Collection";
@import "containers/Home";
@import "containers/User";

.page {
  margin-top: 3em;
  margin-bottom: 8em;
  header {
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
}