// Place Quick hacks that need to be folded properly
// in to css here. Ideally this file is empty.

.helpToggle {
  font-weight: 400;
}

.help.hint {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.control-label {
  font-weight: bold;
}

.primer.item {
  min-height: 380px;
}