html, body, #root, #app {
  min-height: 100%;
}

.bg-green { background: $green; }
.bg-blue { background: $blue; }
.bg-purple { background: $purple; }
.bg-red { background: $red; }
.bg-yellow { background: $yellow; }
.bg-orange { background: $orange; }

.green { color: $green; }
.blue { color: $blue; }
.purple { color: $purple; }
.red { color: $red; }
.yellow { color: $yellow; }
.orange { color: $orange; }

hr.green { border-top: 1px solid $green; }
hr.blue { border-top: 1px solid $blue; }
hr.purple { border-top: 1px solid $purple; }
hr.red { border-top: 1px solid $red; }
hr.yellow { border-top: 1px solid $yellow; }
hr.orange { border-top: 1px solid $orange; }

header > hr {
  margin-top: 0;
}

#content-wrapper, #root {
  min-height: 90%;
}

.wrapper, .page {
  min-height: 100%
}

a {
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #666;
}

.address {
  color: $orange;
}

.right {
  float: right;
}

.left {
  float: left;
}